$mainbackground: rgb(200, 200, 200);
$extrabackground: rgb(20, 17, 32);
$acsentgrey: rgb(50, 50, 50);
$textcolor: grey;
$extratextcolor: rgb(20, 20, 20);
$textacsentcolor: rgb(74, 48, 134);

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.subheader {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
    color: $textcolor;
    margin: 6vh auto;
}

.section {
    margin: 13vh auto 0;
}

.flex {
    display: flex;
}

.center-horizontal {
    justify-content: center;
}

.center-vertical {
    align-items: center;
}

.text-center {
    text-align: center;
}

.text-bold {
    font-weight: bold;
}

.text-ltr-spc-2 {
    letter-spacing: 2px;
}

/* navbar styling */
.navbar {
    height: 7vh;
    width: 100%;
}

.navbar-logo {
    margin-right: 72px;
    font-size: 20px;
    color: $textacsentcolor;
    text-decoration: none;
}

.link {
    font-size: 11px;
    text-decoration: none;
    margin: 0 30px;
    color: $textcolor;
}

.active {
    color: $extratextcolor;
}

#cart-counter {
    font-size: 12px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: none;
    background:$textcolor;
    color: $mainbackground;
    margin: 6px;
}

/* home section styling */
#home {
    width: 100%;
    max-width: 1450px;
    height: 60vh;
    background: $extrabackground;
    margin: 0 auto;
    flex-direction: column;
}

.home-subheader {
    color: $mainbackground;
}

.home-header {
    font-size: 5vh;
    color: $mainbackground;
    margin: 12px 0;
}

.home-info {
    font-size: 16px;
    color: $mainbackground;
}

.home-products-btn {
    padding: 14px 25px; 
    font-size: 12px;
    background: $mainbackground;
    color: $extrabackground;
    margin: 48px 0 0;
}

/* products section styling  */
#products {
    width: 100%;
    max-width: 1450px;
}

.story-section {
    width: 50%;
    margin: 0 auto;
    flex-direction: column;
}

.story-section-header {
    color: $acsentgrey;
    font-size: 28px;
    font-weight: 300;
}

.story-section-text {
    width: 90%;
    margin: 3vh auto;
    font-size: 16px;
    color: $acsentgrey;
}

.story-btn {
    margin: 2vh auto 0;
    color: rgb(255, 90, 61);
    font-size: 16px;
    border: none;
    outline: none;
    border-bottom: 2px solid $textcolor;
    cursor: pointer;
}

.products-boards {
    width: 80%;
    flex-direction: column;
    margin: 0 auto;
}

.products-board {
    width: 80%;
}

.products-board-grid-featured,
.products-board-grid {
    display: grid;
    gap: 2%;
    margin: 0 auto;
}

.products-board-grid-featured {
    grid-template-columns: repeat(2, 49%);
}

.products-board-grid {
    grid-template-columns: repeat(3, 32%);
}

.products-board-grid-featured .mug-img {
    height: 500px;
}

.products-board-grid .mug-img {
    height: 300px;
}

.mug {
    background: rgb(209, 51, 78);
    height: fit-content;
}

.mug-img {
    width: 100%;
    background: rgb(206, 107, 123);
}

.mug-info {
    flex-direction: column;
    margin: 10px;
}

.mug-info-price {
    margin-top: 10px;
}

.mug-price {
    color: rgb(161, 161, 161);
    font-size: 14px;
}

.mug-price-new {
    color: rgb(114, 16, 16);
    font-size: 16px;
}