* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.subheader {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2px;
  color: grey;
  margin: 6vh auto;
}

.section {
  margin: 13vh auto 0;
}

.flex {
  display: flex;
}

.center-horizontal {
  justify-content: center;
}

.center-vertical {
  align-items: center;
}

/* navbar styling */
.navbar {
  height: 7vh;
  width: 100%;
}

.navbar-logo {
  margin-right: 72px;
  font-size: 20px;
  font-weight: bold;
  color: rgb(74, 48, 134);
  text-decoration: none;
  letter-spacing: 2px;
}

.navbar-links {
  display: flex;
  align-items: center;
}

.link {
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  margin: 0 30px;
  color: grey;
  letter-spacing: 2px;
}

.active {
  color: rgb(20, 20, 20);
}

#cart-link {
  display: flex;
  align-items: center;
}

#cart-counter {
  font-size: 12px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: none;
  background: grey;
  text-align: center;
  color: rgb(200, 200, 200);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 6px;
}

/* home section styling */
#home {
  width: 100%;
  max-width: 1450px;
  height: 60vh;
  background: rgb(20, 17, 32);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.home-subheader {
  color: rgb(200, 200, 200);
}

.home-header {
  font-size: 5vh;
  color: rgb(200, 200, 200);
  margin: 12px 0;
}

.home-info {
  font-size: 16px;
  color: rgb(200, 200, 200);
}

.home-products-btn {
  padding: 14px 25px;
  font-size: 12px;
  letter-spacing: 2px;
  background: rgb(200, 200, 200);
  color: rgb(20, 17, 32);
  margin: 48px 0 0;
  font-weight: bold;
}

/* products section styling  */
#products {
  width: 100%;
  max-width: 1450px;
}

.story-section {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.story-section-header {
  text-align: center;
  color: rgb(50, 50, 50);
  font-size: 28px;
  letter-spacing: 2px;
  font-weight: 300;
}

.story-section-text {
  width: 90%;
  margin: 3vh auto;
  font-size: 16px;
  color: rgb(50, 50, 50);
  text-align: center;
  letter-spacing: 2px;
}

.story-btn {
  margin: 2vh auto 0;
  color: rgb(255, 90, 61);
  font-size: 16px;
  text-align: center;
  letter-spacing: 2px;
  border: none;
  outline: none;
  border-bottom: 2px solid grey;
  cursor: pointer;
}

.products-boards {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.products-board {
  width: 80%;
}

.products-board-header {
  text-align: center;
}

.products-board-grid-featured,
.products-board-grid {
  display: grid;
  gap: 2%;
  margin: 0 auto;
}

.products-board-grid-featured {
  grid-template-columns: repeat(2, 49%);
}

.products-board-grid {
  grid-template-columns: repeat(3, 32%);
}

.products-board-grid-featured .mug-img {
  height: 500px;
}

.products-board-grid .mug-img {
  height: 300px;
}

.mug {
  background: rgb(209, 51, 78);
  height: fit-content;
}

.mug-img {
  width: 100%;
  background: rgb(206, 107, 123);
}

.mug-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.mug-info-price {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.mug-info-price p {
  font-weight: bold;
  letter-spacing: 2px;
}

.mug-price {
  color: rgb(161, 161, 161);
  font-size: 14px;
}

.mug-price-new {
  color: rgb(114, 16, 16);
  font-size: 16px;
}

/*# sourceMappingURL=style.css.map */
